* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cell {
  display: flex;
  width: 50px;
  height: 50px;
  border: 1px solid rgb(0, 0, 0);
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(76, 175, 80);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.button:hover {
  background-color: rgb(69, 160, 73);
}

@media (max-width: 800px) {
  .cell {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 620px) {
  .cell {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 470px) {
  .cell {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 390px) {
  .cell {
    width: 20px;
    height: 20px;
  }
}